@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}


@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }