$dark-blue : #1A273C;
$black : #000000;
$white : #ffffff;


/* ===== FONT WEIGHT ===== */

$TitilliumWeb-Regular: normal;
$TitilliumWeb-Bold: bold;
$TitilliumWeb-Light: 300;
$TitilliumWeb-SemiBold :600;